DB_NAME=crypto_wallet
DB_USER=admin
DB_PWD=12345
DB_HOST=localhost
DB_PORT=5432
NODE_ENV=dev
JWT_ACCESS_SECRET=secret
JWT_REFRESH_SECRET=secret
JWT_ACCESS_EXPIRE=60s
JWT_REFRESH_EXPIRE=7d

DB_URL=postgresql://admin:12345@localhost:5432/crypto_wallet